<main>
  <section>
    <ul>
      <li><a [routerLink]="['/home']" [routerLinkActive]="['is-active']">Accueil</a></li>
      <li><a [routerLink]="['/asso']" [routerLinkActive]="['is-active']">Association</a></li>
      <li><a [routerLink]="['/faq']" [routerLinkActive]="['is-active']">FAQ</a></li>
      <li><a [routerLink]="['/transparency']" [routerLinkActive]="['is-active']">Transparence</a></li>
      <li><a [routerLink]="['/auth/login']">Login</a></li>
    </ul>
  </section>
</main>
