<main>
  <section>
    <ul>
      <li>
        <a [routerLink]="['']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true }"
          ><fa-icon [icon]="faHouse"></fa-icon
        ></a>
      </li>
      <li>
        <a [routerLink]="['/asso']" [routerLinkActive]="['is-active']"
          ><fa-icon [icon]="faMagnifyingGlass"></fa-icon
        ></a>
      </li>
      <li>
        <a [routerLink]="['/faq']" [routerLinkActive]="['is-active']"><fa-icon [icon]="faQuestion"></fa-icon></a>
      </li>
      <li>
        <a [routerLink]="['/transparency']" [routerLinkActive]="['is-active']"><fa-icon [icon]="faEye"></fa-icon></a>
      </li>
      <li>
        <a [routerLink]="['/auth/login']" [routerLinkActive]="['is-active']"><fa-icon [icon]="faUser"></fa-icon> </a>
      </li>
    </ul>
  </section>
</main>
