main {
  position: fixed !important;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  margin: 0 auto;
  text-shadow: none;

  section {
    border-radius: 8px 8px 0 0;
    box-shadow: var(--button-box-shadow);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-bg-color);
    ul {
      flex-grow: 1;
      display: flex;
      justify-content: space-around;
      width: 100%;
      li {
        min-width: 45px;
        list-style: none;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          border-radius: 8px;
          text-decoration: none;
          color: #000;
          font-weight: bold;
          padding: 0.5rem;
          &:active {
            transform: scale(1.1);
          }
          fa-icon {
            font-size: 1.5rem;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
.is-active {
  background-color: #e0e0e0;
}
