main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  h1 {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--color-white);
  }
  h2 {
    margin-bottom: 1rem;
    text-align: center;
    width: 55%;
    color: var(--color-white);
    font-weight: 300;
  }
  section {
    padding: 2rem;
    padding-bottom: 0;
    border-radius: 50px;

    button {
      margin: 0 1rem;
      padding: 0.7rem 1rem;
      border-radius: 50px;
      border: none;
      background-color: var(--color-black);
      color: var(--color-white);
      transition:
        transform 0.3s ease,
        background-color 0.3s ease,
        color 0.3s ease;
      &:hover {
        transform: scale(1.1);
        background-color: var(--color-white);
        color: var(--color-black);
      }
      &:not(:first-child) {
        background-color: var(--color-white);
        color: var(--color-black);
        &:hover {
          transform: scale(1.1);
          background-color: var(--color-black);
          color: var(--color-white);
        }
      }
      &:active {
        animation: clickEffect 0.1s ease forwards;
      }
    }
  }
}

.give-now:hover + .learn-more {
  background-color: var(--color-black);
  color: var(--color-white);
  transform: scale(0.9);
}

section:has(.learn-more:hover) .give-now {
  background-color: var(--color-white);
  color: var(--color-black);
  transform: scale(0.9);
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
