main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow: hidden;

  h1 {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--color-white);
    animation: slideIn 1s ease-in-out forwards;
    opacity: 0;
  }
  h2 {
    margin-bottom: 1rem;
    text-align: center;
    width: 55%;
    color: var(--color-white);
    font-weight: 300;
    animation: slideIn 1s ease-in-out forwards;
    animation-delay: 0.2s;
    opacity: 0;
  }
  section {
    padding: 2rem;
    padding-bottom: 0;
    border-radius: 50px;

    button {
      animation: expandHeight 0.9s ease-in forwards;
      margin: 0 1rem;
      padding: 0.7rem 1rem;
      border-radius: 50px;
      border: none;
      background-color: var(--color-black);
      color: var(--color-white);
      transition:
        background-color 0.5s ease,
        color 0.5s ease,
        transform 0.1s ease;
      &:hover {
        background-color: var(--color-white);
        color: var(--color-black);
      }
      &:active {
        transform: scale(1.1);
      }
      &:not(:first-child) {
        background-color: var(--color-white);
        color: var(--color-black);
        &:hover {
          background-color: var(--color-black);
          color: var(--color-white);
        }
        &:active {
          transform: scale(1.1);
        }
      }
    }
  }
}

.give-now:hover + .learn-more {
  background-color: var(--color-black);
  color: var(--color-white);
}

section:has(.learn-more:hover) .give-now {
  background-color: var(--color-white);
  color: var(--color-black);
}
