.popin {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .popin-content {
    min-width: 200px;
    max-width: 90vw; // To ensure it doesn't stretch too wide on large screens
    max-height: 90vh; // To ensure it doesn't stretch too tall on large screens
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 16px;
    &__name {
      display: block;
      word-wrap: break-word;
      overflow-wrap: break-word;
      hyphens: auto;
      margin: 0 auto;
      font-weight: bold;
      max-width: 300px;
    }
    &__desc {
      text-align: justify;
      display: block;
      max-width: 480px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      hyphens: auto;
      margin: 0 auto;
      max-height: auto;
      overflow-y: auto;
      &::first-letter {
        text-transform: capitalize;
      }
    }
    &__buttons {
      display: flex;
      gap: 8px;
      button {
        background-color: var(--color-black);
        color: var(--color-white);
        padding: 0.7rem 1.5rem;
        border: none;
        border-radius: 8px;
        box-shadow: none;
        &:active {
        }
        &:hover {
          background-color: #e0e0e0;
          color: var(--color-black);
        }
        &:last-child {
          position: absolute;
          top: 8px;
          right: 8px;
          display: flex;
          padding: 0;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          justify-content: center;
          align-items: center;
          fa-icon {
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
