<div class="popin">
  <div class="popin-content">
    <p>
      Vous avez sélectionné l'association <span class="popin-content__name">{{ asso?.name }}</span>
    </p>
    <p class="popin-content__desc">{{ asso?.description }}</p>
    <p *ngIf="donations$ | async as donations">
      Vous avez {{ donations }} {{ donations > 1 ? 'dons' : 'don' }} en attente
    </p>

    <div class="popin-content__buttons">
      <button (click)="continueSurfing()">Ajouter à ma liste</button>
      <button *ngIf="donations$ | async as donations" (click)="goToDonate()">Aller vers la page de don</button>
      <button (click)="cancel()">
        <fa-icon [icon]="faIconClose"></fa-icon>
      </button>
    </div>
  </div>
</div>
