/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgba(217, 217, 217, 1) 0%, rgba(181, 176, 176, 1) 100%);
  background-repeat: no-repeat;
  /*background: linear-gradient(180deg, blue, rgb(223, 217, 217));*/
}

/* Conteneur principal */
body > div {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-left: 10px;
}

/* Titre */
h3 {
  margin-bottom: 20px;
  padding-left: 20px;
}

/* Champ de saisie et boutons */
input {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 10px;
  padding-left: 31px;
}

/* Bouton "Partager" */
#share {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #161716;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
}

/* Bouton "Filtrer" */
#filter {
  background: #f1f1f1
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-funnel' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  padding: 15px 20px;
  border-radius: 4px;
  margin: 10px;
}
