/* Titre */
h4 {
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px;
}

/* Champ de saisie et boutons */
input {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 30px;
  background-position: left;
  background-position-x: 10px;
  padding-left: 2.5rem;
}

/* Bouton "Partager" */
#share {
  position: relative;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 8px;
  box-shadow: none;
  cursor: pointer;
  &:active {
    transform: scale(1.1);
  }
}
.bottom {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding-right: 80px;
}
.top {
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.middle {
  text-align: left;
  margin-top: 30px;
}

/* Bouton "Filtrer" */
#filter {
  background: var(--color-white);

  margin: 10px;
  margin-bottom: 20px;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  box-shadow: none;
  cursor: pointer;
  &:active {
    transform: scale(1.1);
  }
}

.middle > span {
  text-align: left;
  padding-right: 20px;
  padding-left: 20px;
}
.routercontainer {
  flex-direction: column;
  border: 2px rgb(0, 255, 21) dashed;
  display: flex;
  justify-content: center;
}
.component {
  background: var(--color-white);
}
.input-group {
  position: relative;
  display: flex;
  align-items: center;
}
span > fa-icon {
  position: absolute;
  padding-left: 0.75rem;
  color: #999;
  font-size: 1.2rem;
  cursor: pointer;
  padding-bottom: 10px;
}
