:host {
  display: flex;
  height: calc(100vh - 9rem);
}
main {
  padding: 0 5%;
  flex: 1;
  width: 100%;
  display: flex;
  gap: 16px;
}
.sidebarcontainer {
  flex: 1;
  height: 100%;
}
.routercontainer {
  flex: 3;
}
