<main>
  <div>
    <section><h1>HeartLink</h1></section>
    <section>
      <ul>
        <li>
          <a [routerLink]="['']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true }"
            >Accueil</a
          >
        </li>
        <li><a [routerLink]="['/asso']" [routerLinkActive]="['is-active']">Association</a></li>
        <li><a [routerLink]="['/faq']" [routerLinkActive]="['is-active']">FAQ</a></li>
        <li><a [routerLink]="['/transparency']" [routerLinkActive]="['is-active']">Transparence</a></li>
      </ul>
    </section>
    <section>
      @if (!isAuthenticated()) {
        <button [routerLink]="['/auth/login']">Connexion</button>
      } @else {
        <div role="presentation" class="profile-menu" (click)="toggleDropdown()">
          <img [src]="this.userInfo?.avatarUrl" alt="" class="profile-image" />
          <div class="dropdown-content" *ngIf="isDropdownVisible">
            <a [routerLink]="['/profile']">Profil</a>
            <a role="presentation" (click)="logout()">Déconnexion</a>
          </div>
        </div>
      }
    </section>
  </div>
</main>
