<main>
  <div>
    <section><h1>HeartLink</h1></section>
    <section>
      <ul>
        <li>
          <a [routerLink]="['']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true }"
            >Accueil</a
          >
        </li>
        <li><a [routerLink]="['/asso']" [routerLinkActive]="['is-active']">Association</a></li>
        <li><a [routerLink]="['/faq']" [routerLinkActive]="['is-active']">FAQ</a></li>
        <li><a [routerLink]="['/transparency']" [routerLinkActive]="['is-active']">Transparence</a></li>
      </ul>
    </section>
    <section><button [routerLink]="['/auth/login']">Login</button></section>
  </div>
</main>
