main {
  padding-bottom: 3rem;
  text-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  div:not(.profile-menu) {
    flex-shrink: 0;
    width: 100%;
    min-width: 798px;
    box-shadow: var(--button-box-shadow);
    border-radius: calc(0.2rem + 8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-bg-color);
    padding: 0.5rem;
    section {
      .profile-menu {
        position: relative;
        min-width: 0;
        padding: 0;
        border-radius: 50%;
        margin: 0;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--button-box-shadow);
        cursor: pointer;
        .donation-queue-length {
          display: inline-block;
          position: absolute;
          top: -4px;
          right: -4px;
          line-height: 0px;
          border-radius: 50%;
          font-size: 8px;
          background-color: red;
          color: white;
          span {
            display: block;
            display: inline-block;
            padding-top: 50%;
            padding-bottom: 50%;
            margin-left: 6px;
            margin-right: 6px;
            font-weight: bold;
          }
        }
        img {
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
        .dropdown-content {
          display: block;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: var(--button-box-shadow);
          z-index: 1;
          right: 0;
          top: calc(0px + 42px);
          a {
            color: var(--color-black);
            text-decoration: none;
            margin: 0;
            width: 100%;
            display: block;
            padding: 0.5rem;
            border-radius: 8px;
            &:hover {
              background-color: #f1f1f1;
            }
          }
        }
      }
      h1 {
        display: flex;
        text-align: center;
        margin-bottom: -0.4rem;
      }
      ul {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        li {
          list-style: none;
          border-radius: 8px;
          padding-left: 0.3rem;
          padding-right: 0.3rem;
          cursor: pointer;
          a {
            border-radius: 8px;
            display: block;
            padding: 0.7rem 1rem;
            text-decoration: none;
            color: #000;
            font-weight: bold;
            cursor: pointer;
            &:hover {
              background-color: #e0e0e0;
            }
            &:active {
              transform: scale(1.1);
            }
          }
        }
      }
      button {
        background-color: var(--color-black);
        color: var(--color-white);
        padding: 0.7rem 1.5rem;
        border: none;
        border-radius: 8px;
        box-shadow: none;
        &:active {
          transform: scale(1.1);
        }
      }
    }
  }
  .is-active {
    background-color: #e0e0e0;
  }
}
