<main class="container">
  <div class="search">
    <input type="text" placeholder="search..." />
    <button type="button" class="btn-search">Valider</button>
  </div>
  <select name="type asso" id="">
    <option value="">placeholder</option>
    <option value="nom asso">Croix rouge</option>
    <option value="">asso2</option>
    <option value="">asso3</option>
  </select>
  <select name="Nature don" id="">
    <option value="">placeholder</option>
    <option value="">don1</option>
    <option value="">don2</option>
    <option value="">don3</option>
  </select>
  <select name="" id="">
    <option value="">placeholder</option>
    <option value="">Lille</option>
    <option value="">Roubaix</option>
    <option value="">Arras</option>
  </select>
  <select name="" id="">
    <option value="">placeholder</option>
    <option value="">Croix rouge</option>
    <option value="">asso2</option>
    <option value="">asso3</option>
  </select>
</main>
