main {
  display: flex;
  gap: 1rem;
  padding: 0.6rem;
  border-radius: 8px;
  background-color: #e0e0e0;

  div {
    flex: 4;
    display: flex;
    margin-right: 2rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));

    input {
      position: relative;
      width: 100%;
      flex: 5;
      border-radius: 5px 0 0 5px;
      min-width: 100px;
      outline: none;
      border: none;
      text-indent: 1rem;
    }
    button {
      border-radius: 0 5px 5px 0;
      flex-basis: 2rem;
      padding: 0.6rem;
      background-color: var(--color-black);
      color: var(--color-white);
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease;
      &:active {
        background-color: var(--color-dark-grey);
        color: var(--color-black);
      }
    }
  }
  select {
    outline: none;
    border: none;
    border-radius: 5px;
    flex: 1;
    min-width: 50px;
    box-shadow: var(--button-box-shadow);
  }
}
