.association-info {
  display: flex;
  justify-content: space-between;
}

.slider {
  height: 25px;
}
span {
  text-align: center;
}

/* Piste du slider */
/*input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #7ba77b;
    height: 8px;
    border-radius: 5px;

}
/* Curseur du slider */
/*input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: #2e302e;
    border-radius: 50%;
    cursor: pointer;
}*/
