<div class="card">
  <div class="card-header">
    <h4>{{ association.name }}</h4>
  </div>
  <div class="card-body">
    <!-- <p>
      <small>RNA: {{ association.idRna }}</small>
    </p> -->
    <p class="description">{{ association.description }}</p>
    <!-- <div class="address">
      <p>
        {{ association.addressOrganization.cplt1 }} {{ association.addressOrganization.cp }}
        {{ association.addressOrganization.commune }}
      </p>
    </div> -->
    <!-- <p><strong>Date de création :</strong> {{ association.creationDate | date: 'dd/MM/yyyy' }}</p> -->
  </div>
  <div class="card-footer">
    <p class="type" [style.background-color]="association.type.color">
      {{ association.type.libTheme }}
    </p>
  </div>
</div>
