<div class="card">
  <div class="card-header">
    <h4>{{ association.name }}</h4>
    <p class="rna">
      <small>RNA: {{ association.idRna }}</small>
    </p>
  </div>
  <div class="card-body">
    <p class="description">{{ association.description }}</p>
    <div class="address">
      <p>
        <small
          >{{ association.addressOrganization.cplt1 }} {{ association.addressOrganization.cp }}
          {{ association.addressOrganization.commune }}</small
        >
      </p>
    </div>
    <p>
      <small><strong>Date de création :</strong> {{ association.creationDate | date: 'dd/MM/yyyy' }}</small>
    </p>
  </div>
  <div class="card-footer">
    <p class="type" [style.background-color]="association.type.color">
      {{ association.type.libTheme }}
    </p>
    <p class="donation-count">
      {{ association.donationsCount }}
      <fa-icon [icon]="faHeart"></fa-icon>
    </p>
  </div>
</div>
