:host {
  display: flex;
  flex: 1;
  max-height: calc(100vh - 10rem);
}
main {
  padding: 0 5%;
  padding-bottom: 1rem;
  max-height: 100%;
  flex: 1;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .search {
    width: 100%;
    margin-bottom: 16px;
  }
  .asso-list {
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden; // Prevent horizontal overflow
    display: grid;
    grid-template-columns: repeat(4, 1fr); // Display maximum of 4 items per row
    gap: 16px;
    padding: 16px;
    backdrop-filter: blur(40px) saturate(140%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #e0e0e0;
      border-radius: 8px;
    }
  }
  .asso-list > * {
    height: 100% !important;
  }

  @media screen and (max-width: 1500px) {
    .asso-list {
      grid-template-columns: repeat(3, 1fr); // Display maximum of 4 items per row
    }
  }
  @media screen and (max-width: 1200px) {
    .asso-list {
      grid-template-columns: repeat(2, 1fr); // Display maximum of 4 items per row
    }
  }
  @media screen and (max-width: 644px) {
    .asso-list {
      grid-template-columns: repeat(1, 1fr); // Display maximum of 4 items per row
    }
  }
}
@media screen and (max-width: 792px) {
  :host {
    display: flex;
    flex: 1;
    max-height: calc(100vh - 5rem);
  }
}
