<main>
  <div class="search">
    <app-searchbar></app-searchbar>
  </div>
  <div class="asso-list" id="asso-list">
    <div class="asso-list-container" id="asso-list-container">
      <app-card-asso *ngFor="let assos of assoList" [association]="assos"></app-card-asso>
      <app-pagination
        [totalPages]="totalPages"
        [size]="size"
        [totalElements]="totalElements"
        [currentPage]="currentPage"
        (pageChange)="onPageChange($event)"></app-pagination>
    </div>
  </div>
</main>
