main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4rem 10rem 5rem 10rem;
}

section {
  text-align: center;
  min-width: calc(798px / 2);
  background-color: var(--color-white);
  border-radius: 8px 0 0 8px;
  min-height: 400px;
  display: flex;
  box-shadow: var(--button-box-shadow);
  position: relative;
  overflow: hidden; // Add this line
  &:last-of-type {
    border-radius: 0 8px 8px 0;
  }
  h1 {
    position: absolute;
    top: 0;
    line-height: 3rem;
    left: 2rem;
    text-align: left;
    color: red;

    z-index: 3;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 1rem;
  justify-content: center;
  flex: 1;
}

div {
  width: 100%;
  position: relative;
  line-height: 1.5;
}

label {
  color: rgba(78, 77, 77, 0.7);
  font-weight: bold;
  position: absolute;
  font-size: 0.9rem;
  top: 1rem;
  left: 0;
  text-align: left;
  padding-left: 1rem;
  pointer-events: none; // Make the label non-interactive
  transition:
    top 0.2s,
    font-size 0.2s;
  &:has(+ input:focus),
  &:has(+ input:not(:placeholder-shown)) {
    top: 0rem;
    font-size: 0.7rem; // Adjusted font size for better visibility
  }
}
input {
  padding: 1rem 1rem 0.5rem;

  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  min-width: 300px;
  line-height: 1.5rem;
  &::placeholder {
    color: transparent;
  }
}

button {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 8px;
  box-shadow: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-end;
  &:active {
    transform: scale(1.1);
  }
}

@media (max-width: 798px) {
  main {
    position: absolute;
    width: 100%;
    height: 100%;
    section:first-of-type {
      visibility: none;
      display: none;
    }
    section {
      min-height: 0;
      align-items: center;
      justify-content: center;
      display: flex;
      min-width: 376px;
      flex: 1;
      border-radius: 8px;
      background-color: transparent;
      p form {
        box-shadow: none;
        padding: 2rem;
        flex: 1;
        min-height: 100%;
        div {
          input {
            min-width: 0;
          }
          label {
            min-width: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  main {
    padding: 0;
    section {
      box-shadow: none;
      min-width: initial;
      padding: 0;
      border-radius: 0;

      form {
        min-height: 100%;
        padding: 10%;
        div {
          input {
            width: 100%;
            min-width: 200px;
          }
        }
      }
    }
  }
}
