main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 5.6rem);
  background-color: #f5f5f5;
  padding: 5rem 10rem 5rem 10rem;
}

section {
  flex: 1;
  text-align: center;
  border-style: dashed;
  height: 100%;
  border: 1px solid red;
  min-width: 400px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  min-height: 100%;
}

div {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  width: 100%;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
  min-width: 300px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 798px) {
  main {
    align-items: center;
    justify-content: center;

    section:first-of-type {
      visibility: none;
      display: none;
    }
    section {
      align-items: center;
      justify-content: center;
      display: flex;
      min-width: 576px;
      flex: 1;
      form {
        background-color: rgb(255, 0, 0);
        padding: 2rem;
        flex: 1;
        min-height: 100%;
        div {
          input {
            min-width: 0;
          }
          label {
            min-width: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  main {
    padding: 0;
    section {
      min-width: initial;
      padding: 0;
      form {
        min-height: 100%;
        div {
          input {
            width: 100%;
          }
        }
      }
    }
  }
}
