h1 {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
  color: var(--color-white);
}

h2 {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: var(--color-white);
  font-weight: 300;
}
main {
  padding: 2rem 10rem 5rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  text-align: center;
  background-color: var(--color-white);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  box-shadow: var(--button-box-shadow);
  overflow: hidden;
  min-width: 798px;
  .carousel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    h5,
    p {
      width: 100%;
      justify-self: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: var(--color-white);
      backdrop-filter: blur(20px) saturate(140%);
      background-color: rgba(0, 100, 42, 0.1);
      text-shadow: 2px 2px 4px #000000;
      padding: 1rem;
    }

    h5 {
      top: 0;
    }
  }
}

small {
  color: red;
  margin-top: 0.5rem;
  display: block;
  text-align: left;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding: 3rem;
  min-height: 390px;
}

div {
  width: 100%;
  position: relative;
  line-height: 1.5;
  &:last-of-type {
    line-height: initial;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    label {
      margin-left: 0.5rem;
    }
  }
}

label {
  color: rgba(78, 77, 77, 0.7);
  font-weight: bold;
  position: absolute;
  font-size: 0.9rem;
  top: 1rem;
  left: 0;
  text-align: left;
  padding-left: 1rem;
  pointer-events: none;
  transition:
    top 0.2s,
    font-size 0.2s;
  &:has(+ input:focus),
  &:has(+ input:not(:placeholder-shown)) {
    top: 0rem;
    font-size: 0.7rem;
  }
}
input:not([type='checkbox']) {
  padding: 1rem 1rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  min-width: 300px;
  line-height: 1.5rem;
  &::placeholder {
    color: transparent;
  }
}

button {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 8px;
  box-shadow: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-end;
  &:active {
    transform: scale(1.1);
  }
}

@media (max-width: 798px) {
  main {
    position: absolute;
    width: 100%;
    section {
      min-height: 0;
      align-items: center;
      justify-content: center;
      display: flex;
      min-width: 376px;
      flex: 1;
      border-radius: 8px;
      background-color: transparent;
      div.carousel {
        visibility: none;
        display: none;
      }

      p form {
        box-shadow: none;
        padding: 2rem;
        flex: 1;
        min-height: 100%;
        div {
          input {
            min-width: 0;
          }
          label {
            min-width: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  main {
    padding: 0;
    section {
      box-shadow: none;
      min-width: initial;
      padding: 0;
      border-radius: 0;
      form {
        min-height: 100%;
        padding: 10%;
        div {
          width: 100%;
          position: relative;
          line-height: 1.5;
          input:not([type='checkbox']) {
            min-width: 200px;
          }
          &:last-of-type {
            line-height: initial;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            label {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }
}
