<h2>Connexion à HeartLink</h2>
<h3>Veuillez entrer vos identifiants pour accéder à votre compte HeartLink.</h3>
<main>
  <section>
    <app-auth-carousel />
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email </label>
        <input type="email" placeholder="email" formControlName="email" autocomplete="email" />
        <ng-container *ngIf="loginForm.controls['email'].dirty || showRequired">
          <small *ngIf="loginForm.controls['email'].errors?.['required']">L'email est requis.</small>
          <small *ngIf="loginForm.controls['email'].errors?.['email']">L'email est invalide.</small>
        </ng-container>
      </div>
      <div>
        <button class="password-visibility-toggle" (click)="togglePasswordVisibility()">
          <fa-icon [icon]="passwordVisible ? faEyeSlash : faEye"></fa-icon>
        </button>
        <label for="password">Mot de passe</label>
        <input
          type="password"
          placeholder="password"
          formControlName="password"
          autocomplete="current-password"
          [type]="passwordVisible ? 'text' : 'password'" />
        <ng-container *ngIf="loginForm.controls['password'].dirty || showRequired">
          <ng-container *ngIf="loginForm.controls['password'].errors?.['required']">
            <small>Le mot de passe est requis.</small>
          </ng-container>
          <ng-container *ngIf="!loginForm.controls['password'].errors?.['required']">
            <ng-container *ngFor="let error of loginForm.controls['password'].errors | keyvalue">
              <small *ngIf="error.key !== 'required' && loginForm.controls['password'].errors?.[error.key]">
                {{ error.value }}
              </small>
            </ng-container>
          </ng-container>
        </ng-container>
        <div *ngIf="errorMessage" class="error-message">
          <small>{{ errorMessage }}</small>
        </div>
      </div>
      <div class="remember-me">
        <label for="rememberMe">Se souvenir de moi</label>
        <input type="checkbox" formControlName="rememberMe" />
      </div>
      <div class="links">
        <a [routerLink]="['/auth/forgot-password']"><small>Mot de passe oublié ?</small></a>
        <a [routerLink]="['/auth/register']"><small>Pas encore inscrit ? Inscris toi maintenant</small></a>
      </div>
      <button type="submit">Connexion</button>
    </form>
  </section>
</main>
