<h1>Connexion à HeartLink</h1>
<h2>Veuillez entrer vos identifiants pour accéder à votre compte HeartLink.</h2>
<main>
  <section>
    <ng-container *ngFor="let message of messages; let i = index">
      <div
        class="carousel"
        *ngIf="i === currentMessageIndex"
        [ngStyle]="{ 'background-image': 'url(' + message.imageUrl + ')' }">
        <h5>{{ message.title }}</h5>
        <p>{{ message.text }}</p>
      </div>
    </ng-container>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email</label>
        <input type="email" placeholder="email" formControlName="email" autocomplete="email" />
        <ng-container *ngIf="loginForm.controls['email'].dirty || showRequired">
          <small *ngIf="loginForm.controls['email'].errors?.['required']">Email est requis.</small>
          <small *ngIf="loginForm.controls['email'].errors?.['email']">Email est invalide.</small>
        </ng-container>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" placeholder="password" formControlName="password" autocomplete="current-password" />
        <ng-container *ngIf="loginForm.controls['password'].dirty || showRequired">
          <ng-container *ngIf="loginForm.controls['password'].errors?.['required']">
            <small>Le mot de passe est requis</small>
          </ng-container>
          <ng-container *ngIf="!loginForm.controls['password'].errors?.['required']">
            <ng-container *ngFor="let error of loginForm.controls['password'].errors | keyvalue">
              <small *ngIf="error.key !== 'required' && loginForm.controls['password'].errors?.[error.key]">
                {{ error.value }}
              </small>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <div class="remember-me">
        <label for="rememberMe">Se souvenir de moi</label>
        <input type="checkbox" formControlName="rememberMe" />
      </div>
      <div class="links">
        <a [routerLink]="['/auth/forgot-password']"><small>Mot de passe oublié ?</small></a>
        <a [routerLink]="['/auth/register']"><small>Pas encore inscrit ? Inscris toi maintenant</small></a>
      </div>
      <button type="submit">Connexion</button>
    </form>
  </section>
</main>
