.background {
  background: rgb(200, 53, 97);
  background: -moz-linear-gradient(
    65deg,
    rgba(200, 53, 97, 1) 1%,
    rgba(156, 152, 89, 1) 19%,
    rgba(156, 152, 89, 1) 29%,
    rgba(181, 122, 71, 1) 43%,
    rgba(199, 50, 106, 1) 73%,
    rgba(205, 66, 67, 1) 100%
  );
  background: -webkit-linear-gradient(
    65deg,
    rgba(200, 53, 97, 1) 1%,
    rgba(156, 152, 89, 1) 19%,
    rgba(156, 152, 89, 1) 29%,
    rgba(181, 122, 71, 1) 43%,
    rgba(199, 50, 106, 1) 73%,
    rgba(205, 66, 67, 1) 100%
  );
  background: linear-gradient(
    65deg,
    rgba(200, 53, 97, 1) 1%,
    rgba(156, 152, 89, 1) 19%,
    rgba(156, 152, 89, 1) 29%,
    rgba(181, 122, 71, 1) 43%,
    rgba(199, 50, 106, 1) 73%,
    rgba(205, 66, 67, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c83561",endColorstr="#cd4243",GradientType=1);
  background-repeat: no-repeat;
  z-index: -1;
  position: fixed;
  height: 50vh;
  width: 100%;
  background-position: 33%;
  background-size: 130%;
  image-rendering: pixelated;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.glass {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(40px) saturate(140%);
  background-color: rgba(0, 100, 42, 0.1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex: 1;
}
app-navbar-mobile {
  display: none;
}
@media (max-width: 798px) {
  app-navbar {
    display: none;
  }
  app-navbar-mobile {
    display: flex;
    justify-content: center;
  }
}
.layout {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
}
