<main>
  <section>
    <h1>Foire Aux Questions</h1>
    <h2>
      Tu as d'autres questions ? Envoie nous un mail à
      <a href="mailto:contact&#64;heartlink.fr">contact&#64;heartlink.fr</a>
    </h2>
  </section>
  <section class="accordion">
    <details open>
      <summary>Comment fonctionne la plateforme HeartLink ?</summary>
      <p>
        HeartLink permet aux utilisateurs de choisir et de personnaliser leurs dons mensuels à des associations variées.
        Vous pouvez sélectionner les causes qui vous tiennent à cœur et répartir vos dons en fonction de vos
        préférences.
      </p>
    </details>
    <details>
      <summary>Puis-je modifier mes préférences de don après l'inscription ?</summary>
    </details>
    <details>
      <summary>Comment puis-je être sûr que mes dons sont utilisés de manière transparente ?</summary>
    </details>
    <details>
      <summary>Quels types d'associations sont disponibles sur HeartLink ?</summary>
    </details>
    <details>
      <summary>Comment puis-je contacter le support client en cas de problème ?</summary>
    </details>
    <details>
      <summary>Quels modes de paiement sont acceptés sur HeartLink ?</summary>
    </details>
  </section>
</main>
