<main>
  <section>
    <h2>Foire Aux Questions</h2>
    <h3>
      Tu as d'autres questions ? Envoie nous un mail à
      <a href="mailto:contact&#64;heartlink.fr">contact&#64;heartlink.fr</a>
    </h3>
  </section>
  <section class="accordion">
    <details open name="faq-item">
      <summary>Comment fonctionne la plateforme HeartLink ?</summary>
      <p>
        HeartLink permet aux utilisateurs de choisir et de personnaliser leurs dons mensuels à des associations variées.
        Vous pouvez sélectionner les causes qui vous tiennent à cœur et répartir vos dons en fonction de vos
        préférences.
      </p>
    </details>
    <details name="faq-item">
      <summary>Comment puis-je m'inscrire sur HeartLink ?</summary>
      <p>
        Pour vous inscrire, cliquez sur le bouton "S'inscrire" sur la page d'accueil, remplissez le formulaire
        d'inscription avec vos informations personnelles et choisissez vos préférences de don.
      </p>
    </details>
    <details name="faq-item">
      <summary>Puis-je modifier mes préférences de don après l'inscription ?</summary>
      <p>
        Oui, vous pouvez modifier vos préférences de don à tout moment en accédant à votre tableau de bord personnel et
        en ajustant les pourcentages alloués à chaque association.
      </p>
    </details>
    <details name="faq-item">
      <summary>Comment puis-je être sûr que mes dons sont utilisés de manière transparente ?</summary>
      <p>
        HeartLink s'engage à la transparence totale. Nous fournissons des rapports détaillés sur l'impact de vos dons et
        la manière dont les fonds sont utilisés par les associations.
      </p>
    </details>
    <details name="faq-item">
      <summary>Quels types d'associations sont disponibles sur HeartLink ?</summary>
      <p>
        Nous travaillons avec une large variété d'associations, couvrant des domaines tels que la santé, l'éducation,
        l'environnement, les droits de l'homme, la protection des animaux, et bien plus encore.
      </p>
    </details>
    <details name="faq-item">
      <summary>Comment puis-je contacter le support client en cas de problème ?</summary>
      <p>
        Vous pouvez nous contacter via le formulaire de contact sur notre site, par e-mail à
        <a href="mailto:contact&#64;heartlink.fr">contact&#64;heartlink.fr</a>, ou utiliser le chat en direct disponible
        sur notre page d'accueil.
      </p>
    </details>
    <details name="faq-item">
      <summary>Quels modes de paiement sont acceptés sur HeartLink ?</summary>
      <p>
        Nous acceptons divers modes de paiement, y compris les cartes de crédit/débit, les virements bancaires et les
        paiements via des plateformes sécurisées comme PayPal.
      </p>
    </details>
  </section>
</main>
