main {
  color: black;
  overflow: hidden;
  section {
    margin: 0 auto;
    border-radius: 12px;
    &:not(:first-of-type) {
      align-self: center;
      box-shadow: var(--button-box-shadow);
      background-color: var(--color-white);
      padding: 1rem;
      margin: 1rem;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    }

    h2 {
      margin-bottom: 1rem;
      text-align: center;
      color: var(--color-white);
    }
    h3 {
      margin: 0 auto;
      margin-bottom: 2rem;
      width: 80%;

      a {
        text-decoration: underline;
        color: var(--color-white);
      }
      text-align: center;
      color: var(--color-white);
      font-weight: 300;
    }

    details {
      border-top: 1px solid #000;
      font-weight: var(--font-weight-bold);
      text-shadow: none;
      &:first-of-type {
        border-top: none;
      }
      summary {
        padding: 1rem;
      }
      p {
        padding: 0.5rem 1rem;
        font-weight: var(--font-weight-lighter);
        width: 90%;
        cursor: pointer;
      }
    }
  }
}

details > summary {
  position: relative;
  cursor: pointer;
}
summary::-webkit-details-marker {
}

@media (max-width: 600px) {
  main {
    section {
      width: 90%;
    }
  }
}
