.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white); // Light gray background
  padding: 16px;
  min-height: 100%; // Ensure the main area covers the full height of the viewport
  height: 100%;
  border-radius: 8px;
  position: relative;
  padding-bottom: 80px;
  box-shadow: var(--button-box-shadow);

  h4 {
    padding: 8px;
    padding-bottom: 16px;
  }
  ul {
    li {
      list-style-type: none;
      padding: 0;
      margin-bottom: 0.5rem;
      a {
        border-radius: 8px;
        padding: 0.7rem 1rem;
        text-decoration: none;
        color: #333;
        display: block;
        fa-icon {
          font-size: 1.2rem;
          margin-right: 8px;
        }
        &:hover {
          background-color: #e0e0e0;
        }
      }
    }
  }
}

.is-active {
  background-color: #e0e0e0;
}
