<div class="sidebar">
  <h4>Mon compte</h4>
  <ul>
    <li>
      <a [routerLink]="['/profile']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true }"
        ><fa-icon [icon]="faUser" /><span>Mon profil</span></a
      >
    </li>
    <li>
      <a [routerLink]="['/profile', 'donations']" [routerLinkActive]="['is-active']"
        ><fa-icon [icon]="faCalendar" /><span>Dons programmés</span></a
      >
    </li>
    <li>
      <a [routerLink]="['/profile', 'payments']" [routerLinkActive]="['is-active']"
        ><fa-icon class="icon" [icon]="faMoney" /><span>Paiements</span></a
      >
    </li>
  </ul>
</div>
