.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white); // Light gray background
  padding: 16px;
  min-height: 100%; // Ensure the main area covers the full height of the viewport
  height: 100%;
  border-radius: 8px;
  position: relative;
  padding-bottom: 80px;
  box-shadow: var(--button-box-shadow);

  h4 {
    padding: 8px;
    padding-bottom: 16px;
  }
  ul {
    li {
      list-style-type: none;
      padding: 0;
      margin-bottom: 0.5rem;
      a {
        border-radius: 8px;
        padding: 0.7rem 1rem;
        text-decoration: none;
        color: #333;
        display: block;
        fa-icon {
          font-size: 1.2rem;
          margin-right: 8px;
        }
        &:hover {
          background-color: #e0e0e0;
        }
      }
    }
  }
}

.is-active {
  background-color: #e0e0e0;
}
@media screen and (max-width: 700px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    background-color: var(--color-white); // Light gray background
    padding: 16px;
    border-radius: 8px;
    height: 4rem;
    min-height: 0;
    box-shadow: var(--button-box-shadow);
    justify-content: space-between;

    h4 {
      padding: 0px;
      padding-bottom: 0px;
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      li {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0rem;
        a {
          border-radius: 8px;
          padding: 0.7rem 1rem;
          text-decoration: none;
          color: #333;
          display: block;
          span {
            display: none;
          }
          fa-icon {
            font-size: 1.2rem;
            margin-right: 0px;
          }
          &:hover {
            background-color: #e0e0e0;
          }
        }
      }
    }
  }
}
