section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 30%;
  width: 100%;
  button {
    border-radius: 8px;
    padding: 8px 24px;
    border: none;
    background-color: var(--color-black);
    color: var(--color-white);
    transition:
      background-color 0.5s ease,
      color 0.5s ease,
      transform 0.1s ease;
    &:hover {
      background-color: var(--color-white);
      color: var(--color-black);
    }
    &:active {
      transform: scale(1.1);
    }
    &:not(:first-child) {
      background-color: var(--color-white);
      color: var(--color-black);
      &:hover {
        background-color: var(--color-black);
        color: var(--color-white);
      }
      &:active {
        transform: scale(1.1);
      }
    }
  }
}

.give-now:hover + .learn-more {
  background-color: var(--color-black);
  color: var(--color-white);
}

section:has(.learn-more:hover) .give-now {
  background-color: var(--color-white);
  color: var(--color-black);
}
