<div class="sidebar">
  <h4>Mon compte</h4>
  <ul>
    <li>
      <a [routerLink]="['/profile', 'compte']"><fa-icon [icon]="faUser"></fa-icon>Profile</a>
    </li>
    <li>
      <a [routerLink]="['/profile', 'notifications']" routerLinkActive="['is-active']">
        <fa-icon [icon]="faBell"></fa-icon>Notifications
      </a>
    </li>
    <li>
      <a [routerLink]="['/profile', 'dons']" routerLinkActive="['is-active']"
        ><fa-icon [icon]="faCalendar"></fa-icon>Dons programmés</a
      >
    </li>
    <li>
      <a [routerLink]="['/profile', 'paiements']" routerLinkActive="['is-active']"
        ><fa-icon [icon]="faMoney"></fa-icon>Paiements</a
      >
    </li>
    <li>
      <a [routerLink]="['/profile', 'taxes']" routerLinkActive="['is-active']"
        ><fa-icon [icon]="faFileInvoice"></fa-icon> Avantages fiscaux</a
      >
    </li>
  </ul>
</div>
