$marg: 4rem;
main {
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex: 1;

  .carousel-card {
    background-color: black;
    display: flex;

    overflow: hidden;
  }
}
