/* You can add global styles to this file, and also import other style files */
:root {
  --background-color: #fcd6d6;
  --navbar-bg-color: #ffffff;
  --text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  --font-family-inter: 'Inter', sans-serif;
  --font-family-league-spartan: 'League Spartan', sans-serif;
  --font-weight-lighter: lighter;
  --font-weight-bold: bold;
  --font-weight-700: 700;
  --font-size-h1: 3.053rem; /* 48.8px */
  --font-size-h2: 2.442rem; /* 39.04px */
  --font-size-h3: 1.954rem; /* 31.2px */
  --font-size-h4: 1.563rem; /* 24.96px */
  --font-size-h5: 1.25rem; /* 20px */
  --font-size-normal: %;
  --font-size-small: 0.8rem; /* 12.8px */
  --button-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  --color-white: #ffffff;
  --color-black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  font-family: var(--font-family-inter);
  text-shadow: var(--text-shadow);
  font-weight: var(--font-weight-lighter);
}

app-root {
  min-height: 100vh;
}

@import url('https://fonts.googleapis.com/css?family=League%20Spartan|Inter');

h1,
h3,
h4,
h5 {
  font-family: var(--font-family-league-spartan);
  font-weight: var(--font-weight-700);
}

html {
  font-size: var(--font-size-normal);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

small {
  font-size: var(--font-size-small);
}

button {
  box-shadow: var(--button-box-shadow);
  font-weight: var(--font-weight-bold);
}
@keyframes clickEffect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes expandHeight {
  0% {
    margin-top: 40px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 992px) {
  body {
    padding-bottom: calc(52px + 2rem); // for navbar
  }
  h1 {
    font-size: 2.489rem; /* 39.84px */
  }

  h2 {
    font-size: 2.074rem; /* 33.12px */
  }

  h3 {
    font-size: 1.728rem; /* 27.68px */
  }

  h4 {
    font-size: 1.44rem; /* 23.04px */
  }

  h5 {
    font-size: 1.2rem; /* 19.2px */
  }

  small {
    font-size: 0.833rem; /* 13.28px */
  }
}
